%table.table.table-striped.table-hover
  %thead
    %tr
      %td Name
      %td Address
      %td In Url
      %td Out Url
      %td
  %tbody
    - address_maps.each do |address_map|
      %tr
        %td= address_map.name
        %td= address_map.address
        %td= address_map.in.url
        %td= address_map.out.url
        %td
          %form{action: "/devices/remove/#{address_map.name}", method: 'get'}
            %input.btn.btn-danger{ type: 'submit', value: 'remove' }
%a.btn.btn-primary{ href: 'devices/add' } Add Device
